.content {
	&.no-sidebar {
		@include outer-container(95%);
		float: none;
		@include pad(20px 0);
		.parrafos {
			h2{
		        @include span-columns(12);
		        @include omega();
		        @include pad(10px 0 10px 10px);
		        margin: {bottom:30px;}
		        font:{size:em(24);}
		        text:{transform:uppercase;}
		        background: {image:url('../img/bg-pattern-fino3b.svg');}
		        span{
		            @extend .destaca;
		        }
		    }	
		    .woocommerce {
			    table {
			    border-radius:0;
			    	.coupon {
						@include span-columns(12);
						@include media($tabletLand) {
							margin:{bottom:5px;}
						}
						@include media($notebook) {
							@include span-columns(6);
						} 
						label {
							@include span-columns(12);
							margin:{bottom:5px;}
							@include media($tablet) {
								margin:{bottom:10px;}
							}
						}
						.input-text {
							width: 50% !important;
							height: 29px;
							margin: 0; 
							@include media($mobileLand) {
								height: 31px;
							}
							@include media($tablet) {
								height: 35px;
							}
		    				@include media($notebook) {
								width: 50% !important;
								height: 37px;
								margin:{right:5px;}
		    				}
						}
						.button {
							width: 49% !important;
							padding: 10px;
    						margin-bottom: 5px;
    						@include media($notebook) {
    							padding:12px !important;
    						}
						}
			    	}
			    	.remove {
						color:$colorBlack !important;
						&:hover {
							background: none;
						}
					}
					thead {
						font:{size:0.6em;}
						@include media($mobileLand) {
							font:{size:0.8em;}
						}
						@include media($tablet) {
							font:{size:0.9em;}
						}
						@include media($tabletLand) {
							font:{size:1em;}
						}
						@include media($notebook) {
							font:{size:1em;}
						}
					}
					tbody {
						font:{size:0.6em;}
						@include media($mobileLand) {
							font:{size:0.8em;}
						}
						@include media($tablet) {
							font:{size:0.9em;}
						}
						@include media($tabletLand) {
							font:{size:0.9em;}
						}
						@include media($notebook) {
							font:{size:0.9em;}
						}
						.product-remove {
							@include pad(6px);
						}
						.product-thumbnail {
							@include pad(6px);
						}
						.product-price {
							@include pad(6px);
						}
						.product-quantity {
							@include pad(6px);
						}
						.product-subtotal {
							@include pad(6px);
						}
					}
					&.shop_table {
						.button {
							font:{size: 1.2em;}
		    				@include pad(10px);
		    				@include media($mobileLand) {
								font:{size: 1em;}
							}
							@include media($tablet) {
								font:{size: 1em;}
							}
							@include media($tabletLand) {
								font:{size: 0.9em;}
							}
							@include media($notebook) {
								font:{size: 0.9em;}
								padding: 12px 40px;
							}
						}
					}
			    }
			    .button {
					background: $colorBlack;
					border-radius: 0;
					font:{family:$primaryFont;}
					color:$colorWhite;
					float: right;
				}
				.cart-collaterals {
					.cart_totals  {
						h2 {
							span{
					            @extend .destaca;
					        }
						}
						.wc-proceed-to-checkout {
							a {
								background: $colorBlack;
								border-radius: 0;
								font:{family:$primaryFont;}
								color:$colorWhite;
							}
						}
					}
					.cart-subtotal {
						text:{align:right;}
					}
					.order-total {
						text:{align:right;}
					}
				}	
		    }
		    .wc-proceed-to-checkout {
		    	a {
		    		font:{size: 0.8em;}
		    		@include pad(10px);
		    		@include media($tablet) {
		    			font:{size: 1em;}
		    		}
		    		@include media($tabletLand) {
		    			font:{size: 1em;}
		    		}
		    		@include media($notebook) {
		    			font:{size: 1em;}
		    		}
		    	}
		    }
		    .woocommerce-error {
		    	@include span-columns(12);
		    	background: none!important;
			    border: 1px solid $colorBlack!important;
			    border-top: 6px solid $colorBlack!important; 
			    &:before {
			        color: $colorBlack !important;
			    }
			    li {
			    	margin:5px 0;
			    }
		    }
		    .btn {
		    	border:1px solid $colorBlack;
		    	@include span-columns(12);
		    	text:{transform:uppercase;align: center;}
		    	padding: 12px;
    			font:{weight: 600;}
    			@include media($tabletLand) {
    				@include span-columns(6);
    				float: right;
    			}
    			@include media($notebook) {
    				@include span-columns(2);
    				float: right;
    			}
		    }
		}
	}
}