form {
	&.checkout {
		float: none;
		h3 {
			@include span-columns(12);
	        @include omega();
	        @include pad(10px 0 10px 10px);
	        margin: {bottom:30px;}
	        font:{size:em(24);}
	        text:{transform:uppercase;}
	        background: {image:url('../img/bg-pattern-fino3b.svg');}
	        span{
	            @extend .destaca;
	        }
		}
		.form-row {
			@include span-columns(12);
			float: left;
			display: block;
			.input-text {
				padding: 10px;
    			margin-top: 2px;
    			border:1px solid $colorGrey;
    			@include placeholder {
    				font:{style:italic;}
    			}
			}
		} 
		.woocommerce-checkout-review-order {
			.woocommerce-checkout-payment {
				background: $colorBlack !important;
				color:$colorWhite !important;
				border-radius: 0 !important;
				ul {
					li {
						.payment_box {
							background: none !important;
							border: 2px solid $colorWhite !important;
							color:$colorWhite !important;
							border-radius: 0 !important;
							&:before {
								border:1em solid #fff !important;
								border-right-color: transparent !important;
								border-left-color: transparent !important;
								border-top-color: transparent !important;
								top:-14px !important;
							}
						}
					}
				}
				.form-row {
					&.place-order {
						padding: 20px 0 !important;
						.button {
							@include span-columns(6);
							margin:{right:0;}
							padding: 15px;
							float: right;
							background: $colorBlack;
							border-radius: 0;
							font:{family:$primaryFont;}
							color:$colorWhite;
						}
					}
				}
			}
		}
	}
}