.pp_pic_holder {
	width: 900px !important;
	margin:0 auto;
	display: block;
	left:0 !important;
	right: 0 !important;
	top:200px !important;
	.ppt {
		font:{family:$primaryFont !important;}
		text:{transform:uppercase;}
		margin:0; 
	}
	.pp_content_container {
		border-radius: 0 !important;
		.pp_content {
			@include outer-container(70%);
			width: 70% !important;
			#pp_full_res{
				img {
					width: 60% !important; 
					height: auto !important;
					display: block;
					margin: 0 auto;
				}
			}
		}
		.pp_details {
    		margin: 0 auto;
    		float: none;
    		width: 300px !important;
    		@include textAlign(center);
    		.pp_nav {
    			width: 100%;
    			.pp_arrow_previous {
    				float: none;
    				display: inline-block;
    			}
    			.currentTextHolder {
    				float: none;
    				display: inline-block;
    				font:{size: em(24px);}
    			}
    			.pp_arrow_next {
    				float: none;
    				display: inline-block;
    			}
    		}
		}
	}
}