.content-single{
    h1{
        font:{size:em(20px)}
        margin:{bottom:32px;}
        span{
            @extend .destaca2;
        }
    }
    .img-single{
        @include span-columns(12);
        @include pad(10px 0);
        @include textAlign(center);
        position: relative;
         @include media($mobileLand) {
            @include span-columns(6);
        }
        @include media($tablet) {
            @include span-columns(6);
        } 
        @include media($tabletLand) {
            @include span-columns(6);
        } 
        @include media($notebook) {
            @include span-columns(6);
        }
        .woocommerce-main-image {
            @include textAlign(right);
            @include span-columns(12);
            width:100%;
            height: auto;
            display: block;
        }
        img{
            @include span-columns(12);
            margin:0 auto;
            background:{color:$colorGrey2;} 
        }
        .thumbnails {
            @include span-columns(12); 
            a {
                @include span-columns(3); 
                @include omega(4n);
                display: inline-block;
                img {
                    width: 100%;
                    height: auto;
                    display: block;
                }
            }
        }
    }
    .info-content{
        @include span-columns(12);
        @include omega();
        @include media($mobileLand) {
            @include span-columns(6);
             @include omega();
        }
        @include media($tablet) {
            @include span-columns(6);
             @include omega();
        }
        @include media($tabletLand) {
            @include span-columns(6);
             @include omega();
        }
        @include media($notebook) {
            @include span-columns(6);
             @include omega();
        }
        p{
            &.disponible{
                @include span-columns(12 of 12);
                @include pad(30px 0 0);
                border:{style:solid;width:1px;color:$colorGrey2;bottom:none;left:none;right:none;}
                font:{size:em(10px);}
                text:{transform:uppercase;}
                color:$colorBlack;
            }
        }
        h2{
            font:{size:em(28px);}
            text:{transform:uppercase;}
            @include pad(0 0 30px);
            border:{style:solid;width:1px;color:$colorGrey2;top:none;left:none;right:none;}
            text:{align:center;}
            @include media($notebook) {
                text:{align:left;}
            } 
        }
        .offers{
            @include span-columns(12 of 12);
            @include textAlign(center);
            @include pad(30px 0);
            small{
                font:{size:em(10px)}
                text:{transform:uppercase;}
            }
            span{
                font:{size:em(24px)}
            }
        }
        .addcart{
            @include span-columns(12 of 12);
            @include pad(0 0 30px);
            border:{bottom:1px solid $colorGrey2;}
            .quantity{
                @include span-columns(3);
                @include shift(2);
                height: 36px;
                input[type="number"]{
                    display: block;
                    width: 100%;
                    height: 100%;
                    border:1px solid $colorBlack;
                }
            }
            button{
                background:{color:$colorBlack;}
                @include borderRadius(0);
                @include span-columns(5);
                &:hover{
                    background:{color:$colorGrey;}
                }
            }
        }
        .product_meta{
            @include span-columns(12 of 12);
            @include pad(10px 20px);
            font:{size:em(11px);}
            color:$colorGrey;
            text:{transform:uppercase;}
            line-height: 26px;
            @include media($notebook) {
               @include pad(10px 30px);
            }
            span{
                i{
                    margin:{right:5px;}
                }
                &.sku_wrapper{
                    @include span-columns(2);
                    @include shift(4);
                }
                &.posted_in{
                    @include span-columns(12); 
                }
                &.tagged_as {
                    @include span-columns(12); 
                    a {
                        padding:5px;
                        background: $colorBlack;
                        color:$colorWhite;
                    }
                }
            }
        }
        .description{
            @include span-columns(12 of 12);
            @include pad(10px 20px);
            @include media($notebook) {
                @include pad(0);
            }
            h2{
                font:{size:em(10px);}
                @include pad(10px 0);
                border:none;
                text:{align:left;}
            }
            p{
                font:{size:em(12px);weight: 300;}
                color:$colorGrey;
                line-height: 20px;
            }
        }
    }
}
.related{
    @include span-columns(12);
    h2{
        font:{size:em(15px)}
        @include span-columns(12);
        @include omega();
        @include pad(10px 0 10px 10px);
        text:{transform:uppercase;}
        background: {image:url('../img/bg-pattern-fino3b.svg');}
        margin:10px 0;
        span{
            @extend .destaca2;
        }
    }
    &.products {
        padding: 0 !important; 
        @include media($notebook) {
            @include pad(20px 0);
        }
    }
}