.footer {
	@include gridle(12,desktopess notebook-min);
	@include gridle(12,phoness-min);
	@extend .text-center;
	@extend .no-paddings;
	font:{family:$primary_font;}
	color:#fff;
	position: relative;	
	height: $height-footer;
	margin: {top:-$height-footer;}
	.footer-content {
		@include gridle(12);
		@extend .no-paddings;
		@extend .no-margins;
		background:{color:$third_color;}
		.container-footer {
			@include gridle(8,desktopess);
			@include gridle(12,phoness-min notebook-min tabless-min tabless-md);
			@include gridle_push(2,desktopess);
			@extend .text-center;
			@extend .no-margins;
			display: block;
			margin: 0 auto;
			position: relative;
			@include gridle_state(phoness-min tabless-md notebook-min){
				margin: 0;
				left: 0;
			}
			.first-box {
				@include gridle(12);
				padding: 10px 0;
				@include gridle_state(phoness-min){
					padding:0;
				}
				.logo {
					@include gridle(2,desktopess notebook-min);
					@include gridle(12,phoness-min);
					@include gridle(4,tabless-min);
					@include gridle_clear(both); 
					@include gridle_float(center);
					margin: 0 auto;
					display: block;
					a{
						svg{
							max-height: 40px;
						}
					}
				}
				.nav {
					@extend .text-center; 
					display:block;
					margin: 0 auto;
					@include gridle_state(phoness-min){
						display: none;
					}
					ul {
						@extend .no-paddings;
						@extend .no-margins;
						text:{decoration:none}
						list-style: none;
						display: inline-block;
						li {
							display: inline-block;
							a {
								color: #000;
								font:{size:11px;} 
								margin:{left: 42px;}
								text:{transform:uppercase;} 
								font:{weight:bold;} 
							}	
						}	
					}
				}
			}
			.second-box {
				@extend .no-paddings;
				@include gridle(8,desktopess notebook-min);
				@include gridle(10,tabless-min);
				@include gridle(12,phoness-min);
				@include gridle_state(notebook-min){
					float:none;
				}
				.newsletter {
					@include gridle(12);
					padding:{bottom: 20px;}
					@include gridle_state(phoness-min){
						padding:{bottom:0;}
					}
					@include gridle_state(tabless-min){
						padding:{left:10px;right: 10px;}
					}
					@include gridle_state(notebook-min){
						padding:{left:0;right:0;}
					}
					#wysija-2{
						h3{
							@extend .no-paddings;
							color:$third_color_2;
							text:{transform:uppercase;} 
							margin:{top:20px; bottom:5px;}
							@include gridle_state(phoness-min){
								margin:{top:0;}
							}
						}
						.widget_wysija_cont{
							.widget_wysija{
								.wysija-paragraph{
									label{
										@include gridle_hide();
									}
									.wysija-input{
										@include gridle(10,desktopess notebook-min);
										@include gridle(8,phoness-min);
										border:1px solid $third_color_2;
										outline:none !important; 
										background: none;
										padding:10px 5px;
										@include border-top-radius(0);
										@include border-right-radius(0);
										@include border-bottom-radius(0);
										@include border-left-radius(0);
										@include gridle_state(notebook-min){
											padding:9px 5px;
										}
										@include gridle_state(tabless-min){
											padding:10px 5px;
										}
									}
								}
								.wysija-submit{
									@include gridle(2,desktopess notebook-min);
									@include gridle(4,phoness-min);
									border:1px solid $third_color_2;
									padding:10px 5px;
									color:$third_color_2;
									font:{weight:bold;} 
									text:{transform:uppercase;align:center;}
									margin: 0;
  									background: none;
									@include gridle_state(notebook-min){
										padding:9px 5px;
										border:1px solid $third_color_2;
									}
									@include gridle_state(tabless-min){
										padding:10px 5px;
										border:1px solid $third_color_2;
									} 
								}
							}
						}
					}
				}
			}
			.third-box {
				@extend .no-paddings;
				@include gridle(3, desktopess notebook notebook-min);
				@include gridle_state(phoness-min tabless-min){
					display: none;
				}
				.siguenos {
					text:{decoration:none}
					list-style: none;
					ul {
						@extend .no-paddings;
						@extend .no-margins;
						@include gridle(12,desktopess notebook-min);
						height: auto;
						float: none;
						li {
							@extend .no-paddings;
							@extend .text-center;
							@include gridle(3,desktopess notebook-min);
							display:inline-block;
							float: none;
							a {
								@extend .text-center;
								@extend .border-radius;
								background: {color:$second_color}
								display: table;
								height: 40px;
								width: 40px;
								display:table;
								margin: 0 auto;
								i {
									@include gridle(12);
									color:$third_color;
									display: table-cell;
									font:{size:20px;}
									float: none;
									text:{align:center;}
									vertical-align: middle;
								}
							}
						}
					}
				}
			}
			.four-box {
				@include gridle(12);
				padding: 10px 0;
				@include gridle_state(phoness-min){
					padding:{top:0;}
				}
				ul {
					@extend .no-margins;
					@extend .no-paddings;
					@include gridle_state(phoness-min){
						margin:0;
						padding: 0;
						width: 100%;
					}
					li {
						display: inline-block;
						border-right: 1px solid #000;
						padding: 0 10px;
						margin:5px 0;
						@include gridle_state(phoness-min){
							text:{align:center;}
							border:0;
							width: 100%;
						}
						&:first-child {
							padding: {right:20px;}
							border-right: 1px solid #000;
							@include gridle_state(phoness-min){
								border-right: 0;
								padding: 0;
								margin:0;
							}
						}
						&:last-child {
							border:0;
							margin:{top:0;}
						}
						a {
							color: #000;
							font:{size:11px;} 
							margin:0 20px; 
							text:{transform:uppercase;} 
							font:{weight:bold;} 
						}
					}
				}
			} 
			h4 {
				@extend .no-paddings;
				color:$third_color_2;
				text:{transform:uppercase;} 
				margin:{top:20px; bottom:5px;}
				@include gridle_state(phoness-min){
					margin:{top:0;}
				}
			}
		}
	}
	.cont-feedinstaram {
		@include gridle(12);
		background:rgba(0,0,0,0.7);
		height:250px;
		margin:0 auto;
		h2 {
			margin:{top:15px;}
			span {
				font:{weight:light;}
			}
		}
		#instafeed {
			@include gridle(12);
			padding: 20px 0;
			img {
				margin:{right: 30px;}
				border:{radius:5px;}
			}
		}	
	}
}
