.footer {
	background:{color:$third_color;}
	font:{family:$primary_font;}
	color:#fff;
	@include gridle(12);
	padding-bottom: 20px;
	.box {
		@extend .center-width;
		h4 {
			@extend .no-margins;
			color:#fff;
			font:{family:$primary_font;}
			padding:5px; 
		}
		.first_box {
			@include gridle(6);
			background:{color:$third_color_1;}
			.logo {
				@include gridle(6);
			}
			.newsletter {
				@include gridle(12);
				padding-bottom: 20px;
				input {
					@include gridle(10);
					border:1px solid #fff;
					background: none;
					padding:10px 5px;
				}
				.send {
					@include gridle(2);
					border:1px solid #fff;
					padding:10px 5px;
					color:#fff;
					text:{transform:uppercase;align:center;}
				}
			}
		}
		.second_box {
			@include gridle(2);
			.nav {
				ul {
					@extend .no-paddings;
					@extend .no-margins;
					text:{decoration:none}
					list-style: none;
					a {
						color:#fff;
						font:{size:14px;}
						margin-left:5px;
					}	
				}
			}
		}
		.third_box {
			@include gridle(4);
			.siguenos {
				text:{decoration:none}
				list-style: none;
				li {
					@include gridle(4);
					margin:10px 0;
					i {
						@include gridle(12);
						border:1px solid #fff;
						font:{size:20px;}
						padding:10px 10px;
						color:#fff;
						text:{align:center;}
					}
				}
			}
			.contactanos {
				@extend .siguenos;
				li {
					@include gridle(6);
					a {
						color:#fff;
					}
				}
			}
		}
	}
}