.content-loop-home{
	@include gridle(12);
	@extend .no-paddings;
	clear:both;
	margin:40px 0;
	height:auto;
	@include gridle_state(tabless-min){
		margin:{top:20px}
	}
	#container {
		@extend .center-width;
		height: auto !important;
		@include gridle_state(tabless-min){
			height: auto;
		}
		.item-principal {
			@include gridle(4,desktopess notebook-min);
			@include gridle(4,tabless-min);
			@include gridle(12,phoness-min);
			position: relative !important;
			margin:{right: auto;bottom:10px; left:auto;}
			height:280px;
			left:0 !important;
			top:0 !important;
				@include gridle_state(tabless-min){
					padding:{left:10px;right:10px !important;
				}
				@include gridle_state(phoness-min){
					height: 230px;
					margin:{bottom:5px;}
				}
				&:first-child {
					@include gridle_state(phoness-min){
						height: 130px !important;
					}
				}
				&:last-child {
					@include gridle_state(phoness-min){
						height: 130px !important;
					}
				}

			}
			.bg-color-none {
				@include gridle(12);
				height:280px;
					@include gridle_state(phoness-min){
							height: 230px;
					}
				.social {
					@extend .text-left;
					background:{color:$third_color;}
					color:$third_color_2;
					height:auto;
					top:32px;
					left:10px;
					position: absolute;
					list-style: none;
					z-index: 10;
					li {
						display: inline-block;
						padding: 5px;
						background:{color:$third_color;}
						cursor: pointer;
					}
				}
				.principal-post {
					position: absolute;
					background-repeat: no-repeat;
					background-size: cover;
					z-index: 1;
					padding: 0;
					margin: 0;
					top: 0;
					left: 10px;
					height: 280px;
					width: 95%;
					@include gridle_state(tabless-md){
						height: 260px;
					}
					@include gridle_state(phoness-min){
						height: 230px;
					}
					h2 {
						@extend .text-left;
						color:#fff;
						font:{size:20px;}
						padding:{top:21px; right: 8px;bottom:20px;left:12px;}
						margin:{top:160px; bottom:20px;}
						background-color: rgba(0, 0, 0, 0.5);
						bottom: 0;
						left: 20px;
						border-left:6px solid #bc1c80;
						position: relative;
						width: 82%;
						@include gridle_state(tabless-min){
							  left: 10px;
							  margin:{top:180px;}
						}
						@include gridle_state(phoness-min){
							width: 87%;
							left:10px;
							margin:{top:130px;}
						}
						@include gridle_state(tabless-md){
							left:5px;
							margin:{top:150px;}
							width:85%;
							font:{size:18px;}
						}
					}
					.date {
						@extend .text-left;
						background:{color:$first_color;}
						opacity: 0.8;
						height: 21px;
						top: 7px;
						left: 0;
						z-index: 2;
						position: absolute;
						padding:{top:1px;right: 60px;}
						p {	
							@extend .no-margins;
							color:#fff;
							font:{size:12px; font-family:$primary_font;weight:lighter;style: italic;}
							padding:{top:3px; bottom:3px; left:10px;}
							text:{transform: uppercase;}
							z-index: 10;
						}
					}
				}
			}
			&:last-child{
				clear:right !important;
			}
		}
		.paginador {
			@include gridle_clear(both);
			@extend #reciente;
			.bg-color {
				h2{
				padding:{top:45px !important; right:60% !important; left:10px !important;}
					@include gridle_state(tabless-min){
						padding:{top:55px !important;} 
					}
					@include gridle_state(phoness-min){
						padding:{top:11px !important; right: 10px !important;}
					}
					
				}
				.paginador-arrow {
					@extend .no-paddings;
					@include gridle(12);
					position:absolute;
					bottom: 0;
					background:{color:$first_color_1;}
					color:#fff;
					.pagination {
						@extend .no-margins;
						@extend .no-paddings;
						@include gridle(12);
						.page-numbers {
							display: none;
						}
						.next {
							@include gridle(6);
							@extend .text-right;
							@extend .no-margins;
							@include gridle_float(right);
							display: block !important;
							color:#fff;
							font:{size:20px;}
							padding:20px 0;
							background:{color:$first_color_1}
							.text {
								display: none;
							}
							.fa {
								@extend .text-center;
								display: block;
								margin: 0 auto;
							}
						}
						.prev {
							@extend .next;
							float: left;
							padding:20px 0;
							background:{color:$first_color_2}
							.text {
								display: none;
							}
						}
					}
				}
			}
		}
		#reciente {
			.item-principal {
				@include gridle_state(tabless-min) {
					padding:{right: 0px !important;}
				}
			}
			.bg-color {
				background:{color:$first_color;}
				height: 280px;
				position: relative;
				h2 {
					@extend .no-margins;
					font:{family:$primary_font; size:60px;weight: lighter;style: italic; weight: lighter;}
					color:#fff;
					padding:{top:60px; right: 30px; left:10px;}
					line-height: 60px;
					@include gridle_state(desktopess notebook-min){
						padding:{top:60px;right:30px;left:10px;}
					}
					@include gridle_state(tabless-min){
						font:{size:49px}
						line-height: 52px;
						padding:{top:50px;right:0px;}
					}
					@include gridle_state(phoness-min){
						padding:{top:8px;right:10px;bottom:0;left:10px;}
					}
				}
				.tags{
				@extend .no-margins;
				@extend .no-paddings;
				display: block;
				color:#fff;
				list-style: none;
					@include gridle_state(phoness-min tabless-md){
						display: none;
					}
					ul {
						padding:{right:20px; left:10px;}
						li{
							padding:2px 5px;
							margin:{top:2px; right: 2px;}
							display: inline-block;
							background:{color:$first_color_1;}
							@include gridle_state(tabless-min){
								margin:{top:3px;right:6px;}
							}
							a {
								font:{size:12px;family:$primary_font;}
								color:#fff;
								text:{decoration:none;}
								@include gridle_state(tabless-min){
								  font:{size:15px;}
								}
							}
						}
					}
				}
				&:first-child {
					@include gridle_state(phoness-min){
						height: 130px;
					}
				}
			}
		}
	}
}  