.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.no-margins{
	margin:0 !important;
}
.no-paddings{
	padding:0 !important;
}
.resp_img{
	width:100%;
	height:auto;
}
.center{
	margin:0 auto !important;
}
a {
	text:{decoration:none;}
}	
.center-width {
	max-width: 1280px;
	margin:0 auto;
}
h1 {
	font:{family:$primary_font;}
	color:#000;
	@extend .text-left;
}
iframe {
	width: 100%;
}
.border-radius {
 	@include border-top-radius(50%);
	@include border-right-radius(50%);
	@include border-bottom-radius(50%);
	@include border-left-radius(50%);
}