.nav-top {
	max-width: 100%;
	@extend .no-paddings;
	background:{color:$third_color} ;
	height: 35px;
	.top-social {
		@include gridle(2,desktopess);
		@include gridle_push(2,desktopess);
		@include gridle_clear(left);
		color:$third_color_2;
		@include gridle(4,phoness);
		@include gridle_state(phoness){
			left:0;
			padding:0;
		}
		li {
			width: 35px;
			text:{decoration:none;align:center;}
			list-style: none;
			display: inline-block;
				@include gridle_state(phoness){
					width:20px;
				}	
			a {
				color:$third_color_2;
			} 
			i { 	
				padding: 7px 0 0 0; 
				font:{size:20px;}
				@include gridle_state(phoness){
					padding: 10px 0 0 0;
					font:{size:18px;}
				}	
			}
				:hover {
				color:$third_color_1;
				}
		}
	}
	.search {
			@include gridle(4,desktopess notebook-min);
			@include gridle_push(4,desktopess notebook-min);
			@include gridle(8,phoness);
			@include gridle_state(phoness){
				left:0;
				padding:0;
			}
		.cont_search {
			@include gridle(11);
			@include gridle_state(phoness){
				padding:0;
			}
			input {
				background: none;
				width: 100%;
				border:0;
				border-bottom:1px solid $third_color_2;
				color:$third_color_2;
				padding: 8px 0 0 0;
				outline:none;
				font:{size:18px;}
				text:{transform:uppercase;}
				@include placeholder {
					color:$third_color_2;	
				}
			}
		}
		.search-icon {
			@extend .text-left;
			@include gridle(1);
			color:$third_color_2;
			font:{size:20px;}
			padding: 5px 0 0 0;
			cursor:pointer;
			@include gridle_state(phoness){
					padding: 5px 0 0 0;
					font:{size:18px;}
			}
		}
	}
}