.pagination {
	@include gridle(12);
	float:right;
	margin:{bottom:30px !important;}
	height: auto;
	.page-numbers {
		background:{color:$first_color}
		padding: 10px 15px;
		color: #fff;
		@include gridle_state(phoness){
			padding: 10px 10px;
		}
	}
	.current {
			background:{color:$first_color_2}	
		}
	.text {
		display: inline-block;
		@include gridle_state(phoness){
			display: none;
		}
	}
}

/*.pages {
	position:absolute;
	bottom: 0;
	background:{color:$first_color_1;}
	color:#fff;
	width: 95%;
	.pagination {
		@extend .no-paddings;
		@include gridle(12);
		.page-numbers {
			display: none;
		}
		.next {
			@include gridle(6);
			@extend .text-right;
			@extend .no-margins;
			display: block !important;
			float: right;
			color:#fff;
			font:{size:20px;}
			padding: 20px 0;
			background:{color:$first_color_1}
			.fa {
				@extend .text-center;
				display: block;
				margin: 0 auto;
			}
		}
		.prev {
			@extend .next;
			float: left;
			padding: 20px 0;
			background:{color:$first_color_2}
		}
	}
}
*/