.content-post {
	@include gridle(12);
	@include gridle_clear(both);
	.single-post {
		@include gridle(12,desktopess);
		@include gridle(12,phoness);
		@include gridle_state(phoness){
			padding: 0;
		}
		.container-one {
			@extend .no-paddings;
			@include gridle(12,desktopess);
			@include gridle(12, phoness);
			.content-title {
				h1 {
					margin:20px 0 0 0;
					@include gridle_state(phoness){
						  	margin: 20px 0 3px 0;
							line-height: 24px;
							}
					a {
					color:#000;
						@include gridle_state( phoness){
							font:{size:25px;}
						}
					}
				}
				.tags{
					@extend .no-margins;
					@extend .no-paddings;
					display: block;
					color:#fff;
					list-style: none;
					@include gridle_state(phoness){
						  width: 80%;
					}
					li{
						padding:2px 5px;
						margin: 2px 2px 0 0;
						display: inline-block;
						background:{color:$first_color;}
						a{
							font:{size:12px;family:$primary_font;}
							color:#fff;
							text:{decoration:none;}
						}
					}
				}
			}	
			.img-post{
				height: 500px;
				background-repeat: no-repeat;
				background-size: cover;
				margin-top: 2%;
				position: relative;
				@include gridle_state(phoness){
						height:200px;
						}
				.date {
					background:{color:$second_color_1;}
					border-radius: 50%;
					color: #fff;
					height: 65px;
					right: 0;
					text-align: center;
					top: -35px;
					position: relative;
					padding: 5px;
					width: 65px;
					float: right;
					@include gridle_state(phoness){
						height: 40px;
						width: 40px;
						top:-25px;
						}
					i {
						@extend.text-center;
						display: block;
						font-size: 30px;
						margin: 5px 0;
						@include gridle_state(phoness) {
							font:{size:20px;}
							margin:{top:2px; bottom:4px;}
						}
					}
					time {
						@extend.text-center;
						text:{transform: uppercase;}
						display: block;
						@include gridle_state(phoness){
							font:{size:12px;}
						}
					}	
				}
			}
		}
		.container-two {
			@extend .no-paddings;
			@include gridle(8,desktopess);
			@include gridle(12,phoness);
			.content-text {
				@include gridle(12);
				@extend .no-paddings;
				p {	
					margin:20px 0;
					font:{family:$second_font;}
					color:#606061;
					img {
					  	border: 0;
					  	width: 100%;
					  	height: auto;
					}
				}
				.content-author {
					@include gridle(12);
					@extend .no-paddings;
					.img-author{
						@extend .text-left;
						  width: 40px;
						  height: 40px;
						  padding: 0;
						  margin: 0;
						  display: inline-block;
						  position: relative;
						img {
							@extend .text-right;
							@extend .no-paddings;
							width: 40px;
							height: 40px;
							border-radius: 20px;
						}
					}
					.name-author{
						height: 40px;
						position: relative;
						display: inline-block;
						.author {
							padding: 10px 0 0 0;
							display: table-cell;
							a {	
							color:$third_color_2;
							font:{style:italic;}
							@include gridle_state(phoness){
								font:{size:14px;}
								}
							}
						}
					}
				}
			}
			.author a {
				color:$third_color_2;
				font:{style:italic;}
			}
		}
	}
}
