// FONTS 
$primary_font:'Open Sans', sans-serif;

// COLORS
$first_color: #7acbfe;	/* CELESTE */

$second_color:#bc1c80; 	/* MAGENTA */

$third_color:#e1e1e0; 	/* GRIS */
$third_color_1:#cfcdcd;
$third_color_2:#898888; /* GRIS tono 1 */