// FONTS 
$primary_font:'Open Sans', sans-serif;

// COLORS
$first_color: #7acbfe;	/* CELESTE */

$second_color:#bc1c80; 	/* MAGENTA */

$third_color:#e1e1e0; 	/* GRIS */
$third_color_1:#d0d0cf; /* GRIS tono 1 */
$third_color_2:#c0c0c0; /* GRIS tono 2 */