*{
	margin:0;
} 
html{
	height: 100%;
	body{
		height: 100%;
		@extend .no-paddings;
		@extend .no-margins;
	}
}
.wrapper {
	//@include gridle(12,phoness tabless); 
	max-width: 1280px;
	@include gridle_float(none, desktopess notebook-min);
	@include gridle_parent(desktopess notebook-min);
	display: block;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin:0 auto $height-footer;
	@include gridle_state(tabless-min tabless-md){
		padding:{left:10px;right:10px;}
	}
	@include gridle_state(phoness-min){
		padding:0;
	}
	.push {
		height: $height-footer;
	}
	.swipe{
		overflow: hidden;
		visibility: hidden;
		position: relative;
		@include gridle(12);
		@include gridle_parent();
		height: 450px;
		@include gridle_state(phoness-min){
			height:250px;
		}
		.swipe-wrap{
			overflow: hidden;
			position: relative;
			@include gridle(12,phoness-min tabless-md);
			@include gridle_no_gutter(phonnes-min notebook-min desktopess);
			@include gridle_state(desktopess phoness-min tabless-md){
				padding: 0;
			}
			@include gridle_state(notebook-min){
				padding: 0;
				float: none;
			}
			.content-slide{
				background:{position:center;size:cover;};
				height: 450px;
				min-height:564px;
				@include gridle_float(left);
				@include gridle(12);
				@include gridle_parent();
				position: relative;
				@include gridle_state(phoness-min){
					height:250px;
					min-height:0;
				}
				article {
					@include gridle(5);
					@include gridle(8,tabless-md);
					position: absolute;
					height:auto;
					bottom:150px;
					left:50px;
					border:{left:8px solid $second_color;}
					padding:20px;
					@extend .text-left;
					background:{color:rgba(0,0,0,.5);}
					@include gridle(11, phoness-min);
					@include gridle_state(phoness-min){
						bottom:10px;
						left:10px;
						padding:10px;
					}
					main{
						h1{
							font:{family:$primary_font;weight:bold;}
							color:#fff;
							text:{transform:uppercase;}
							@extend .no-margins;
							@extend .no-paddings;
							@include gridle_state(phoness-min){
								font:{size:20px;}
							}
						}
					}
				}
			}
		}
		.btn_prev{
			position: absolute;
			left:1%;
			top:40%;
			width:30px;
			height:30px;
			color:#fff;
			font: {size:40px;}
			cursor: pointer;
			@include gridle_state(phoness-min tabless-md){
				font: {size:20px;}
			}
			&:hover{
				color:$first_color;
			}
		}
		.btn_next{
			@extend .btn_prev;
			left:97%;
			@include gridle_state(phoness-min tabless-md){
				left: 94%;
			}
		}
	}
}