.footer {
	height: 80px;
	@include gridle(10, desktopess notebook-min);
	@include gridle_state(desktopess notebook-min) {
		float:right;
	}
	@include gridle(12, tabless-md);
	@include gridle(12, phoness);
	margin:{top:-80px;}
	@include gridle_state(phoness) {
		padding:0 !important;
	}
	.footer-content {
		@include gridle(12);
		@extend .no-paddings;
		height:inherit; 
		position: relative;
		background: $first_color;
		color:$second_color; 
		font:{family:$primary_font;}
		position: relative; 
		@include gridle(12);
		@include gridle_state(desktopess notebook-min) {
			margin:{top:-10px;right: auto; bottom: 0; left:auto;}
			float: none;
			display: block;
		}
		@include gridle_state(notebook-min) {
			margin:{top: -10px;}
		}
		@include gridle_state(tabless-min) {
			margin:{top:0;}
		}
		@include gridle_state(phoness) {
			padding: 0 !important;
		} 
		.footer-container {
			@include gridle(8, desktopess);
			@include gridle(10, tabless-md notebook-min);
			@include gridle(12, phoness-min phoness);
			@include gridle_float(none);
			display: block;
			margin:0 auto;
			height: inherit;
			.content-left {
				@include gridle(5, desktopess notebook-min);
				@include gridle(11, phoness);
				@extend .no-paddings;
				@include gridle_float(left);
				display: inline-block;
				margin:{top: -55px;}
				@include gridle_state(phoness){
					margin:{top:-25;}
				}
				.img-footer {
					display: none;
					@include gridle(4, phoness);
					@include gridle(4, desktopess notebook-min);
					@extend .no-paddings;
					border:3px solid #fff;
					height: 90px;
					@include gridle_state(desktopess notebook-min) {
						height: 115px;
					}
					img {
						width: 100%;
						height: 100%;
					}
				}
				h3 {
					visibility: hidden;
					@extend .no-margins;
					font:{size:11px;}	
					display: table;
					width: auto;
					@include gridle_state(desktopess) {
						font:{size: 15px;}
						padding:{left: 4px;}
						line-height: 26px;
					}
					@include gridle_state(notebook-min) {
						font-size: 13px;
						line-height: 25px;
					}
					@include gridle_state(tabless-md) {
						padding: {left:5px;}
					}
					@include gridle_state(phoness) {
						padding:{left:4px;}
						line-height: 22px;
						margin:{top: 2px !important;}
						font:{size: 12px;}
					}
					&:first-child {
						font:{weight:bold !important;}
					}
					a {
						color:$first_color;
						font:{style:italic;}
						text:{decoration: underline;}
					}
				}
			}
			.content-right {
				@include gridle(2, desktopess notebook-min);
				@include gridle(1, phoness);
				@extend .no-paddings;
				@include gridle_float(right);
				right: 0;
				@include gridle_state(phoness) {
					margin:{top: -15px;}
				}
				ul {
					@extend .no-paddings;
					@extend .no-margins;
					@include gridle_float(right);
					li {
						@extend .no-paddings;
						list-style: none;
						border-radius: 50%;
						display: table;
						width: 25px;
						height: 25px;
						margin:{bottom: 5px;}
						@include gridle_state(desktopess) {
							width: 30px;
							height: 30px;
							margin:{left: 7px;}
						}
						@include gridle_state(notebook-min) {
							margin:{left: 6px;}
						}
						a {
							text:{align:center;}
							color:$first_color;
							display: table-cell;
							vertical-align: middle;
						}
					}
				}
			}
		}
	}
}