.footer {
	@include gridle(12);
	background: $first_color;
	color:$second_color;
	font:{family:$primary_font;}
	height: 70px;
	.footer-content {
		@include gridle(12);
		@extend .no-paddings;
		margin:{top:-30px;}
		.content-left {
			@include gridle(11);
			@extend .no-paddings;
			@include gridle_float(left);
			display: inline-block;
			.img-footer {
				@include gridle(4, phoness);
				@extend .no-paddings;
				border:3px solid #fff;
				height: 90px;

				img {
					width: 100%;
					height: 100%;
				}
			}
			h3 {
				@extend .no-margins;
				font:{size:11px;}	
				a{
					font:{size:11px;}	
				}
			}
		}
		.content-right {
			@include gridle(1);
			@extend .no-paddings;
			@include gridle_float(right);
			display: inline-block;
			ul {
				@extend .no-paddings;
				@extend .no-margins;
				li {
					@extend .no-paddings;
					list-style: none;
					border-radius: 50%;
					display: table;
					width: 25px;
					height: 25px;
					margin:{bottom: 5px;}
					a{
						text:{align:center;}
						color:$first_color;
						display: table-cell;
						vertical-align: middle;
					}
				}
			}
		}
	}
}