html {
	font:{family:$primary_font;}
	overflow: hidden;
	overflow-y:scroll; 
	body{
		overflow: hidden;   
	}
}
.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.no-margins{
	margin:0 !important;
}
.no-paddings{
	padding:0 !important;
}
.resp_img{
	width:100%;
	height:auto;
}
.center{
	margin:0 auto !important;
}
a {
	text:{decoration:none;}
}	
.center-width {
	max-width: 1280px;
	margin:0 auto;
}
.highlight {
	color:$second_color;
	font:{family:$primary_font;weight:normal; }
	background-color:$first_color;
	padding: 0 10px;
	@include gridle_state(desktopess, notebook-min) {
		font:{size: 40px;}
	}
}
.highlight-inv {
	@extend .highlight;
	background: $second_color;
	color:$first_color;
	background-color: #fff;
	position: relative;
	z-index: 9;
}
.pattern {
	@include gridle(12);
	background:{color: $second_color;position: left;repeat:repeat;}
	padding: 10px;
	display: inline-block;
	background-position: -0% 0;
	@include transition(background-position 0.5s ease-out);
	position:relative;
	overflow:hidden;
	background: {color:#fff;}
	&:hover {
		background:{color: $second_color;position: left;repeat:repeat;} 
		background-position: -99.99% 0;
	}
	a {
		display: inline-block;
		font:{size:17px;}
	}
}
.bg-highlight {
	color:$second_color;
	font:{family:$primary_font;weight:normal; }
	@include background-image (linear-gradient(to right, #000 50%, #fff 50%));
	background:{position: -0% 0;size: 200.22% auto;}
	-webkit-background-size: 200.22% auto;
	-moz-background-size: 200.22% auto;
	@include transition(background-position 0.5s ease-out);
	padding:{left:10px;right:5px;}
	&:hover {
		background-position: 99.99% 0;
		color:$first_color;
		font:{weight:normal;}
	}
	p {
		@extend .no-paddings;
	}
}
.bg-highlight-inv {
	color:$first_color;
	font:{family:$primary_font;weight:normal; }
	@include background-image (linear-gradient(to right, #fff 50%, #000 50%));
	background:{size: 200.22% auto;position: -0% 0;}
	-webkit-background-size: 200.22% auto;
	-moz-background-size: 200.22% auto;
	@include transition(background-position 0.5s ease-out);
	padding:{left:10px;right:5px;}
	&:hover {
		background-position: -99.99% 0;
		color:$second_color;
		font:{weight:normal;}
	}
}
.btn {
	@include gridle(12);
	@extend .no-paddings;
	background: $first_color;
	text:{align:center;transform: uppercase;}
	a {
		@include gridle(12);
		color:$second_color;
		font:{family:$primary_font; size:14px;}
		padding:10px !important;
		i {
			@include gridle(2);
			@include gridle_float(left);
			font:{size:18px;}
		}
	}
}
.metrics {
	@include gridle(12,phoness);
	@extend .no-paddings;
	ul {
		@include gridle(12);
		@extend .no-paddings;
		@extend .no-margins;
		font:{family:$primary_font;}
		h3 {
			margin:{bottom: 5px;}
			a {
				font:{size:14px !important;}
				padding:3px 8px !important;
				text:{transform:uppercase;}
			}
		}
		li {
			@include gridle(12);
			display: table;
			font:{size:12px;}
			border:0;
			border:{bottom:1px solid $li-border-color;}
			padding:{top:8px;left:0;bottom:8px; right:0;}
			text:{transform:uppercase;}
			i {
				@include gridle(1);
				@extend .no-paddings;
				@extend .text-left;
				display: table-cell;
				vertical-align: middle;
				@include gridle_float(none);
				color:$font-color;
				font:{size: 15px;}
				@include gridle_state(desktopess notebook-min){
					width: 25px;
				}
			}
			.metrics-1 {
				@include gridle(7);
				@extend .text-left;
				@extend .no-margins;
				@extend .no-paddings;
				display: table-cell;
				vertical-align: middle;
				color:$font-color;
			}
			.metrics-2 {
				@include gridle(4);
				@extend .text-right;
				@include gridle_float(right);
				@extend .no-margins;
				@extend .no-paddings;
				display: table-cell;
				vertical-align: middle;
				color:$font-color;
				font:{size:13px;} 
				.metrics-descriptions-1 {
					display: inline-block;
					width: auto;
					font:{size:13px !important;weight:600;} 
				}
				.metrics-descriptions-2 {
					@extend .metrics-descriptions-1;
					font:{size:12px !important;weight:lighter;}
				} 
			}
		}
		.img-map {
			@include gridle(12);
			@extend .no-paddings;
			margin:{top:15px; bottom:15px;}
			img {
				@extend .resp_img;
			}
		}
	}
}
.bajada {
	@include gridle(12);
	font:{size:10px;transform:none;}
	@extend .text-left;
	padding: 10px;
	margin:{top:0; right:0; bottom:5px; right:0;}
	@include gridle_state(desktopess, notebook-min){
		font:{size: 13px;}
		padding:{left:10px;}
	}
	@include gridle_state(phoness-min) {
		padding:{left:0; right:0;}
	}
	@include gridle_state(tables-md) {
		padding:{left:0; right:0;}
	}
	@include gridle(11, tabless-md);
	p {
		@extend .no-margins;
		padding: 7px 5px;
	}
}
.shadow {
	box-shadow: 0 2px 2px rgba(204, 204, 204, 0.2);
	-webkit-box-shadow: 0 2px 2px rgba(204, 204, 204, 0.2);
	-moz-box-shadow: 0 2px 2px rgba(204, 204, 204, 0.2);
	-o-box-shadow: 0 2px 2px rgba(204, 204, 204, 0.2);
}

@keyframes hover-btn {
    0% {background-color:$first_color_3;}
    100% {background-color: $first_color;}
}
@keyframes btn-general {
	0% {background-color:$first_color;}
    100% {background-color: $first_color_2;}
}
@keyframes trans-1 {
  	0% { transform: translate(0, 0);transform:rotate(0deg);transform-origin:center; }
  	50% { transform: translate(0, 7px); }
  	100%{ transform:rotate(45deg);transform-origin:2px 9px;}
}
@keyframes trans-1-b {
  	100% { transform: translate(0, 0);transform:rotate(0deg);transform-origin:top left; }
  	50% { transform: translate(0, 7px); }
  	0% { transform:rotate(45deg);transform-origin:-2px -9px;}
}
@keyframes trans-2 {
  	0% { transform: translate(0, 0);transform:rotate(0deg);transform-origin:center;display: block ; opacity: 1; }
  	50% { transform: translate(0, 0px); display:none ; opacity: 0;}
  	100%{ transform:rotate(45deg);transform-origin:9px 12px;display:none ; opacity: 0;}
}
@keyframes trans-2-b {
  	100% { transform: translate(0, 0);transform:rotate(0deg);transform-origin:top left; display: block ; opacity: 1;}
  	50% { transform: translate(0, 0); display:none ; opacity: 0;}
  	0% { transform:rotate(45deg);transform-origin:9px 12px; display:none ; opacity: 0;}
}
@keyframes trans-3 {
  	0% { transform: translate(0, 0);transform:rotate(0deg);transform-origin:center; }
  	50% { transform: translate(0,-7px); }  
  	100%{ transform:rotate(-45deg);transform-origin:7px 18px;}
}
@keyframes trans-3-b {
  	100% { transform: translate(0, 0);transform:rotate(0deg);transform-origin:bottom left; }
  	50% { transform: translate(0, -7px); }
  	0% { transform:rotate(-45deg);transform-origin:7px 18px; transform-origin:bottom left;}
}

.slideDown{
	@include animation(slideDown 1s ease);
	visibility: visible !important;		
}
@keyframes slideDown {
	0% {
		@include transform(translateY(-100%));
	}
	50%{
		@include transform(translateY(3%));
	}
	65%{
		@include transform(translateY(-2%));
	}
	80%{
		@include transform(translateY(0%));
	}
	95%{
		@include transform(translateY(0%));
	}			
	100% {
		@include transform(translateY(0%));
	}		
}
.slideRight{
	@include animation(slideRight 1s ease-in-out);
	visibility: visible !important;	
}

@keyframes slideRight {
	0% {
		@include transform(translateX(-150%));
	}
	50%{
		@include transform(translateX(8%));
	}
	65%{
		@include transform(translateX(-4%));
	}
	80%{
		@include transform(translateX(4%));
	}
	95%{
		@include transform(translateX(-2%));
	}			
	100% {
		@include transform(translateX(0%));
	}	
}
.fadeIn{
	@include animation(fadeIn 1.5s ease-in-out);
	visibility: visible !important;	
}

@keyframes fadeIn {
	0% {
		@include transform(scale(0));
		opacity: 0;		
	}
	60% {
		@include transform(scale(1.1));
	}
	80% {
		@include transform(scale(0.9));
	}	
	100% {
		@include transform(scale(1));
		opacity: 1;	
	}		
}

.flipInY {
	@include animation(flipInY 1s ease-in-out);
	visibility: visible !important;	
}

@keyframes flipInY {
	0% {
		@include transform(perspective(400px) rotate3d(0, 1, 0, 90deg));
		-webkit-animation-timing-function: ease-in;
    	animation-timing-function: ease-in;
		opacity: 0;		
	}
	40% {
		@include transform(perspective(400px) rotate3d(0, 1, 0, -20deg));
    	-webkit-animation-timing-function: ease-in;
    	animation-timing-function: ease-in;
	}
	60% {
		@include transform(perspective(400px) rotate3d(0, 1, 0, 10deg));
    	opacity: 1;
	}	
	100% {
		@include transform(perspective(400px));
	}		
}

.vanishIn {
  @include animation(vanishIn 1s ease-in-out);
	visibility: visible !important;	
}
@keyframes vanishIn {
  0% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(2, 2);
    -webkit-filter: blur(90px);
  }

  100% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1, 1);
    -webkit-filter: blur(0px);
  }
}

.fadeOut {
	@include animation(fadeOut 1s ease-in-out);
	visibility: visible !important;	
}
@keyframes fadeOut {
	0% {
		@include transform(translateY(100%));
		opacity: 0.0;	
	}
	100% {
		@include transform(translateY(0%));
		opacity: 1;	
	}	
}
.fadeOutDown {
	@include animation(fadeOutDown 0.8s ease-in-out);
	visibility: visible !important;	
}
@keyframes fadeOutDown {
	0% {
		@include transform(translateY(-100%));
		opacity: 0.0;	
	}
	100% {
		@include transform(translateY(0%));
		opacity: 1;
	}
}
.trama{
	svg{
		.lines-pattern{
			width:100%;
			height:100%;
		}
		.pattern-apply{
			width:100%;
			height:100%;
			position: relative;
		}
	}
}
.trama2{
	@extend .trama;
}
@keyframes tramaFadea{
	0%{
		fill:#000;
	}
	100%{
		fill:#fff;
	}
}
@keyframes tramaFadeb{
	0%{
		fill:#fff;
	}
	100%{
		fill:#000;
	}
}
.animationTrama{
	@include animation(tramaFadea .4s ease-in-out forwards);
}
.animationTramaOut{
	@include animation(tramaFadeb .4s ease-in-out forwards);
}
.mCSB_inside>.mCSB_container {
	margin:{right:0;}
}





