html {
	font:{family:$primary_font;}
}
.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.no-margins{
	margin:0 !important;
}
.no-paddings{
	padding:0 !important;
}
.resp_img{
	width:100%;
	height:auto;
}
.center{
	margin:0 auto !important;
}
a {
	text:{decoration:none;}
}	
.center-width {
	max-width: 1280px;
	margin:0 auto;
}
.highlight {
	color:$second_color;
	font:{family:$primary_font;weight:normal; }
	background-color:$first_color;
	padding: 0 10px;
	@include gridle_state(desktopess, notebook-min) {
		font:{size: 40px;}
	}
}
.highlight-inv {
	@extend .highlight;
	background: $second_color;
	color:$first_color;
}
.pattern {
	@include gridle(12);
	@include background-image(url("../img/pattern.jpg"), url("../img/pattern.jpg"));
	padding: 10px;
	background:{position: left;repeat:repeat;}
	display: inline-block;
	a {
		display: inline-block;
		font:{size:17px;}
	}
}
.bg-highlight {
	color:$second_color;
	font:{family:$primary_font;weight:normal; }
	background-position: -0% 0;
	@include background-image (linear-gradient(to right, rgba(0, 0, 0, 1) 50%, #fff 50%));
	background-size: 200.22% auto;
	-webkit-background-size: 200.22% auto;
	-moz-background-size: 200.22% auto;
	background-position: -0% 0;
	@include transition(background-position 0.5s ease-out);
	padding:{left:10px;right:5px;}
	&:hover {
		background-position: -99.99% 0;
		color:$first_color;
		font:{weight:normal;}
	}
	p {
		@extend .no-paddings;
	}
}
.bg-highlight-inv {
	color:$first_color;
	font:{family:$primary_font;weight:normal; }
	background-position: -0% 0;
	@include background-image (linear-gradient(to right, rgba(255, 255, 255, 1) 50%, #000 50%));
	background-size: 200.22% auto;
	-webkit-background-size: 200.22% auto;
	-moz-background-size: 200.22% auto;
	background-position: -0% 0;
	@include transition(background-position 0.5s ease-out);
	padding:{left:10px;right:5px;}
	&:hover {
		background-position: -99.99% 0;
		color:$second_color;
		font:{weight:normal;}
	}
}
.btn {
	@include gridle(12);
	@extend .no-paddings;
	background: $first_color;
	text:{align:center;transform: uppercase;}
	a {
		@include gridle(12);
		color:$second_color;
		font:{family:$primary_font; size:14px;}
		padding:10px !important;
		i {
			@include gridle(2);
			@include gridle_float(left);
			font:{size:18px;}
		}
	}
	&:hover {
		@include animation(btn-general 1.5s ease-in);
	}
}
.metrics {
	@include gridle(12,phoness);
	@extend .no-paddings;
	ul {
		@include gridle(12);
		@extend .no-paddings;
		@extend .no-margins;
		font:{family:$primary_font;}
		h3 {
			margin:{bottom: 5px;}
			a {
				font:{size:14px !important;}
				padding:3px 8px !important;
				text:{transform:uppercase;}
			}
		}
		li {
			@include gridle(12);
			display: table;
			font:{size: 11px;}
			border:0;
			border-bottom:1px solid $li-border-color;
			padding:{top:8px;left:0;bottom:8px; right:0;}
			text:{transform:uppercase;}
			i {
				@include gridle(1);
				@extend .no-paddings;
				@extend .text-left;
				display: table-cell;
				vertical-align: middle;
				@include gridle_float(none);
				color:$font-color;
				font:{size: 15px;}
				@include gridle_state(desktopess notebook-min){
					width: 25px;
				}
			}
			.metrics-1 {
				@include gridle(7);
				@extend .text-left;
				@extend .no-margins;
				@extend .no-paddings;
				display: table-cell;
				vertical-align: middle;
				color:$font-color;
			}
			.metrics-2 {
				@include gridle(4);
				@extend .text-right;
				@include gridle_float(right);
				@extend .no-margins;
				@extend .no-paddings;
				display: table-cell;
				vertical-align: middle;
				color:$font-color;
			}
		}
		.img-map {
			@include gridle(12);
			@extend .no-paddings;
			margin:{top:15px; bottom:15px;}
			img {
				width: 100%;
				height: auto;
			}
		}
	}
}
.bajada {
	@include gridle(12);
	font:{size:10px;transform:none;}
	text:{align:left;}
	padding: 10px;
	margin:{top:0; right:0; bottom:5px; right:0;}
	@include gridle_state(desktopess, notebook-min){
		font:{size: 13px;}
		padding:{left:10px;}
	}
	@include gridle_state(phoness-min) {
		padding:{left:0; right:0;}
	}
	@include gridle_state(tables-md) {
		padding:{left:0; right:0;}
	}
	@include gridle(11, tabless-md);
	p {
		@extend .no-margins;
		padding: 7px 5px;
	}
}
.nothing-message {
	@include gridle(12);
	background:$second_color;
	position: relative;
	display: block;
	margin:{top:10px;} 
}
.shadow {
	box-shadow: 0 2px 2px rgba(204, 204, 204, 0.2);
	-webkit-box-shadow: 0 2px 2px rgba(204, 204, 204, 0.2);
	-moz-box-shadow: 0 2px 2px rgba(204, 204, 204, 0.2);
	-o-box-shadow: 0 2px 2px rgba(204, 204, 204, 0.2);
}

@keyframes hover-btn {
    0% {background-color:$first_color_3;}
    100% {background-color: $first_color;}
}
@keyframes btn-general {
	0% {background-color:$first_color;}
    100% {background-color: $first_color_2;}
}
@keyframes trans-1 {
  	0% { transform: translate(0, 0);transform:rotate(0deg);transform-origin:center; }
  	50% { transform: translate(0, 7px); }
  	100%{ transform:rotate(45deg);transform-origin:2px 9px;}
}
@keyframes trans-1-b {
  	100% { transform: translate(0, 0);transform:rotate(0deg);transform-origin:top left; }
  	50% { transform: translate(0, 7px); }
  	0% { transform:rotate(45deg);transform-origin:-2px -9px;}
}
@keyframes trans-2 {
  	0% { transform: translate(0, 0);transform:rotate(0deg);transform-origin:center;display: block ; opacity: 1; }
  	50% { transform: translate(0, 0px); display:none ; opacity: 0;}
  	100%{ transform:rotate(45deg);transform-origin:9px 12px;display:none ; opacity: 0;}
}
@keyframes trans-2-b {
  	100% { transform: translate(0, 0);transform:rotate(0deg);transform-origin:top left; display: block ; opacity: 1;}
  	50% { transform: translate(0, 0); display:none ; opacity: 0;}
  	0% { transform:rotate(45deg);transform-origin:9px 12px; display:none ; opacity: 0;}
}
@keyframes trans-3 {
  	0% { transform: translate(0, 0);transform:rotate(0deg);transform-origin:center; }
  	50% { transform: translate(0,-7px); }  
  	100%{ transform:rotate(-45deg);transform-origin:7px 18px;}
}
@keyframes trans-3-b {
  	100% { transform: translate(0, 0);transform:rotate(0deg);transform-origin:bottom left; }
  	50% { transform: translate(0, -7px); }
  	0% { transform:rotate(-45deg);transform-origin:7px 18px; transform-origin:bottom left;}
}

.slideDown{
	@include animation(slideDown 1s ease);
	visibility: visible !important;		
}
@keyframes slideDown {
	0% {
		@include transform(translateY(-100%));
	}
	50%{
		@include transform(translateY(3%));
	}
	65%{
		@include transform(translateY(-2%));
	}
	80%{
		@include transform(translateY(0%));
	}
	95%{
		@include transform(translateY(0%));
	}			
	100% {
		@include transform(translateY(0%));
	}		
}
.slideRight{
	@include animation(slideRight 1s ease-in-out);
	visibility: visible !important;	
}

@keyframes slideRight {
	0% {
		@include transform(translateX(-150%));
	}
	50%{
		@include transform(translateX(8%));
	}
	65%{
		@include transform(translateX(-4%));
	}
	80%{
		@include transform(translateX(4%));
	}
	95%{
		@include transform(translateX(-2%));
	}			
	100% {
		@include transform(translateX(0%));
	}	
}
.fadeIn{
	@include animation(fadeIn 1.5s ease-in-out);
	visibility: visible !important;	
}

@keyframes fadeIn {
	0% {
		@include transform(scale(0));
			
	}
	60% {
		@include transform(scale(1.1));
	}
	80% {
		@include transform(scale(0.9));
		opacity: 1;	
	}	
	100% {
		@include transform(scale(1));
		opacity: 1;	
	}		
}
.fadeOut {
	@include animation(fadeOut 1s ease-in-out);
	visibility: visible !important;	
}
@keyframes fadeOut {
	0% {
		@include transform(translateY(100%));
		opacity: 0.0;	
	}
	100% {
		@include transform(translateY(0%));
		opacity: 1;	
	}	
}
.fadeOutDown {
	@include animation(fadeOutDown 0.8s ease-in-out);
	visibility: visible !important;	
}
@keyframes fadeOutDown {
	0% {
		@include transform(translateY(-100%));
		opacity: 0.0;	
	}
	100% {
		@include transform(translateY(0%));
		opacity: 1;
	}
}