.nav-colapse {
	@include gridle(2, desktopess notebook-min);
	@include gridle_state(desktopess notebook-min){
		float:left;
		height: 1000px;
	}
	@include gridle_state(phoness phoness-min){
		display: none;
	}
	@include gridle(8);
	@include gridle_float(right);
	@extend .no-paddings;
	background: $first_color;
	color:$second_color;
	.logo-menu-media {
		@include gridle(10);
		@include gridle_float(none);
		margin:{top:20px; right:auto; bottom:0; left:auto;}
		display: block;
	}
	.menu-review {
		text:{align:center;}
		font:{family:$primary_font;size:14px;}
		color:$second_color;
		margin:{top:0;bottom:30px;}
	}
	.search {
		@include gridle(12);
		@extend .no-paddings;
		height: 60px;
		.search-input {
			@include gridle(10);
			background: $first_color;
			border:0;
			outline: none;
			color:$second_color;
			padding:20px;
			@include placeholder {
				color: $second_color;
				font:{family:$primary_font;}
			}
		}
		.search-submit {
			@include gridle(2);
			background: none;
			color:$second_color;
			border:0;
			padding: 21px 0;
			font:{size:19px;}
		}
	}
	.menu {
		margin:{top: 90px;}
		ul {
			@extend .no-margins;
			@extend .no-paddings;
			li {
				@include gridle(12);
				@extend .no-paddings;
				list-style: none;
				//padding:{top:20px; right:20px; bottom:20px; left:20px;}
				background: $first_color_3;
				border-bottom: 1px solid #000;
				a {
					@include gridle(10); 
					@include gridle_float(right);
					color:$second_color;
					font:{family:$primary_font;weight:400;}
					padding:{top:20px;bottom:20px;left:5px;}
				}
				&.fa {
					&:before {
						padding: {top:20px;right:0px; bottom:20px; left:24px;}
						display: inline-block;
					}
				}	
				&:hover {
					@include animation(hover-btn 1.5s infinite alternate);
				}
				&.current-menu-item {
					background: $first_color;
				}
				&:first-child {
					@extend .pattern;
					float:none;
					padding:{top:20px !important; right:20px; bottom:20px !important; left:20px;}
					a {
						@extend .highlight-inv;
						font:{size: 18px !important;}
						padding: 4px 10px;
						margin:{top: 18px;}
					}
					&.fa {
						color:$first_color;
						font:{size: 18px !important;}
						padding:0 !important;			
						&:before {
							background:none;
						}
					}
				}
			}
		}
	}
}