.nav-colapse {
	height: 100%;
	position: absolute;
	background: $first_color;
	color:$second_color;
	overflow: scroll;
	z-index: 999; 
	@include gridle(2, desktopess notebook-min);
	@include gridle_state(desktopess) {
		float:left;
	}
	@include gridle_state(phoness tabless-md) {
		position: fixed;
		z-index: 990;
		display: none;
		right:-310px;
	}
	@include gridle_state(notebook-min) {
		float: left;
		display:block; 
	}
	@include gridle(3, tabless-md tabless-min);
	@include gridle(9, phoness);
	@include gridle_float(right);
	@extend .no-paddings;
	.contendor-menu {
		@include gridle(12);
		@extend .no-paddings;
		position:absolute;
		height: auto;
		top:0;
		.logo-menu-media {
			@include gridle(10);
			@include gridle_float(none);
			margin:20px auto;
			display: block;
			@include gridle_state(phoness tabless-min) {
				display: none;
			}
		}
		.search {
			@include gridle(12);
			@extend .no-paddings;
			.search-input {
				@include gridle(10);
				background: $first_color;
				border:0;
				outline: none;
				color:$second_color;
				padding:15px 20px;
				@include placeholder {
					color: $second_color;
					font:{family:$primary_font;}
				}
				@include gridle_state(notebook-min) {
					margin:{top:0;}
				}
				@include gridle_state(tabless-min) {
					margin: {top:40px;}
				}
				@include gridle_state(tabless-md) {
					padding: 15px 10px;
					margin:{top:55px;}
				}
				@include gridle_state(phoness) {
					margin: {top:40px;}
				}
			}
			.search-submit {
				@include gridle(2);
				background: none;
				color:$second_color;
				border:0; 
				padding: 15px 0; 
				font:{size:19px;}
				outline: none;
				@include gridle_state(notebook-min) {
					margin:{top:0;}
				} 
				@include gridle_state(tabless-min) {
					margin: {top:40px;}
				}
				@include gridle_state(tabless-md) {
					margin:{top:55px;}
				}
				@include gridle_state(phoness) {
					margin: {top:40px;}
				}
			}
		}
		.menu {
			position:absolute;
			height: auto;
			top:0;
			margin{top: 50px;}
			@include gridle_state(desktopess) {
				margin:{top: 305px;}
			}
			@include gridle_state(notebook-min) {
				margin:{top:244px;}
			}
			@include gridle_state(tabless-min) {
				margin:{top:88px;}
			}
			@include gridle_state(tabless-md) {
				margin:{top:106px;}
			}
			@include gridle_state(phoness) {
				margin:{top:88px;}
			}
			ul {
				@include gridle(12);
				@extend .no-margins;
				@extend .no-paddings;
				list-style: none;
				height: auto;
				li {
					@include gridle(12);
					@extend .no-paddings;
					list-style: none;
					text-decoration: none;
					border-bottom:1px solid $first_color_3;
					background-position: -0% 0;
					@include background-image (linear-gradient(to right, rgba(0, 0, 0, 1) 50%, #fff 50%)); 
					background-size: 200.22% auto;
					-webkit-background-size: 200.22% auto;
					-moz-background-size: 200.22% auto;
					background-position: -0% 0;
					@include transition(background-position 0.5s ease-out);
					a {
						@include gridle(10); 
						@include gridle_float(right);
						font:{family:$primary_font;weight:400;}
						padding:{top:20px;bottom:20px;left:5px;}
						@include gridle_state(notebook-min) {
							padding:{top:15px;bottom:15px;}
						}
						@include gridle_state(phoness) {
							padding: {top:13px;bottom:13px;left: 15px;}
						}
						color:$second_color;
					}
					&.fa {
						&:before {
							padding: {top:20px;right:0px; bottom:20px; left:24px;}
							display: inline-block;
							@include gridle_state(notebook-min) {
								  padding:{top:15px;bottom:15px;left: 10px;}
							}
							@include gridle_state(tabless-md) {
								  padding:{left: 18px !important;}
							}
							@include gridle_state(tabless-min) {
								 padding:{left: 3px;}
							}
							@include gridle_state(phoness) {
								  padding:{top:13px;bottom:13px;left: 15px;}
							}
						}
					}	
					&:hover {
						background-position: -99.99% 0;
						color:$first_color;
						@include gridle_state(notebook-min) {
							background-position: -99.99% 0;
						}
						a {
							color:$first_color;
						}
						&.fa {
							color:$first_color;
						}
					}
					&.current-menu-item {
						background: $second_color;
						color:$first_color;
						a {
							color:$first_color;
						}
					}
					$urlPath:'../../../uploads/2015/06'; 
					&:first-child {
						float:none;
						padding:{top:20px !important; right:20px; bottom:0 !important; left:20px;}
						margin:{bottom:-4px;}
						background:{size: inherit;image:url(#{$urlPath}/bg-pattern-fino.svg);color: $second_color;repeat: repeat;}
						a {  
							@include gridle_float(left);
							width: auto;
							@extend .highlight-inv;
							font:{size: 18px !important;}
							padding:{top:3px; right:5px; bottom:5px; left:5px;}
							margin:{top:8px;left: 11px;}
							@include gridle_state(desktopess) {
								margin:{top:15px;}
							}
							@include gridle_state(notebook-min) {
								margin:{top: 10px;}
							}
							@include gridle_state(phoness) {
								margin:{top: 10px;}
							}
						}
						&.fa {
							color:$first_color;
							font:{size: 18px !important;}
							padding:0 !important;			
							&:before {
								@include gridle_float(left);
								background:none;
								@include gridle_state(notebook-min) {
									  padding:{top:15px;bottom:15px;left: 10px;}
								}
								@include gridle_state(tabless-md) {
									  padding:{left: 18px !important;}
								}
								@include gridle_state(tabless-min) {
									 padding:{left: 3px;}
								}
								@include gridle_state(phoness) {
									  padding:{top:13px;bottom:13px;left: 15px;}
								}
							}
						}
						&:hover {
							a {
						 		background: $first_color;
								color:$second_color;
							} 
						}
						&.current-menu-item {
							background-image: url("../img/pattern_inv.jpg") !important;
							color:$second_color;
							 a {
						 		background: $first_color;
								color:$second_color;
							 }
						}		
					}
				}
			}
		}	
	}
}	
