.nav-colapse {
	@extend .no-paddings;
	height: 100%;
	position: fixed;
	background: $first_color;
	color:$second_color;
	overflow-x: hidden;
	z-index: 999; 
	@include gridle_float(left, desktopess);
	@include gridle_hide(phoness tabless-min);
	@include gridle_state(phoness tabless-md){
		position: fixed;
		z-index: 990;
		right:-310px;
	}
	@include gridle_state(tabless-min) {
		right:-340px;
	}
	@include gridle_float(left, notebook-min);
	@include gridle_state(notebook-min){
		display:block; 
	} 
	@include gridle_float(right);
	@include gridle(2, desktopess notebook-min); 
	@include gridle(6, tabless-md);
	@include gridle(3, tabless-min);
	@include gridle(5, phoness);
	@include gridle(8, phoness-min); 
	.contendor-menu {
		@include gridle(12);
		@extend .no-paddings;
		//position:absolute;
		height: auto;
		top:0;
		.logo-menu-media {
			@include gridle(10);
			@include gridle_float(none);
			margin:20px auto;
			display: block;
			@include gridle_hide(phoness tabless-min);
			svg {
				fill: $second_color !important;
			}
		}
		.search {
			@include gridle(12);
			@extend .no-paddings;
			@extend .no-margins;
			//position: absolute;
			@include gridle_state(desktopess) {
				top: 128px;
			}
			@include gridle_state(notebook-min) {
				top: 92px;
			}
			@include gridle_state(tabless-md) {
				top:0;
			}
			@include gridle_state(phoness-min) {
				top: 0;
			} 
			.search-input {
				@include gridle(10);
				background: $first_color;
				border:0;
				outline: none;
				color:$second_color;
				padding:15px 20px;
				@include placeholder {
					color: $second_color;
					font:{family:$primary_font;}
				}
				@include gridle_state(notebook-min) {
					margin:{top:0;}
				}
				@include gridle_state(tabless-min) {
					margin: {top:55px;}
				}
				@include gridle_state(tabless-md) {
					padding: 15px 10px;
					margin:{top:55px;}
				}
				@include gridle_state(phoness-min) {
					margin: {top:40px;}
				}
			}
			.search-submit {
				@include gridle(2);
				background: none;
				color:$second_color;
				border:0; 
				padding: 15px 0; 
				font:{size:19px;}
				outline: none;
				@include gridle_state(notebook-min) {
					margin:{top:0;}
				} 
				@include gridle_state(tabless-min) {
					margin: {top:40px;}
				}
				@include gridle_state(tabless-md) {
					margin:{top:55px;}
				}
				@include gridle_state(phoness-min) {
					margin: {top:40px;}
				}
			}
		}
		.log_out{
			@include gridle(12);
			@extend .no-margins;
			@extend .no-paddings;
			list-style: none;
			height: auto;
			li {
				@include gridle(12);
				@extend .no-paddings;
				list-style: none;
				text-decoration: none;
				border-bottom:1px solid $first_color_3;
				@include background-image (linear-gradient(to right, #000 50%, #fff 50%)); 
				background:{size: 200.22% auto;position: -0% 0;}
				-webkit-background-size: 200.22% auto;
				-moz-background-size: 200.22% auto;
				@include transition(background-position 0.3s ease-out);
				position:relative;
				overflow: hidden;
				a {
					@include gridle(10); 
					@include gridle_float(right);
					font:{family:$primary_font;weight:400;}
					padding:{top:20px;bottom:20px;left:5px;}
					@include gridle_state(notebook-min) {
						padding:{top:15px;bottom:15px;}
					}
					@include gridle_state(phoness) {
						padding: {top:13px;bottom:13px;left: 15px;}
					}
					color:$second_color;
				}
				&:hover {
					background:{position: -99.99% 0;}
					color:$first_color;
					@include gridle_state(notebook-min) {
						background:{position: -99.99% 0;}
					}
					a {
						color:$first_color;
					}
				}
			}
		}
		.menu{
			//position:absolute;
			height: auto;
			top:0;
			margin{top: 50px;}
			/*@include gridle_state(desktopess) {
				margin:{top: 305px;}
			}
			@include gridle_state(notebook-min) {
				margin:{top:233px;}
			}
			@include gridle_state(tabless-min) {
				margin:{top:88px;}
			}
			@include gridle_state(tabless-md) {
				margin:{top:100px;}
			}
			@include gridle_state(phoness-min) {
				margin:{top:88px;} 
			}*/
			ul {
				@include gridle(12);
				@extend .no-margins;
				@extend .no-paddings;
				list-style: none;
				height: auto;
				li {
					@include gridle(12);
					@extend .no-paddings;
					list-style: none;
					text-decoration: none;
					border-bottom:1px solid $first_color_3;
					@include background-image (linear-gradient(to right, #000 50%, #fff 50%)); 
					background:{size: 200.22% auto;position: -0% 0;}
					-webkit-background-size: 200.22% auto;
					-moz-background-size: 200.22% auto;
					@include transition(background-position 0.3s ease-out);
					position:relative;
					overflow: hidden;
					a {
						@include gridle(10); 
						@include gridle_float(right);
						font:{family:$primary_font;weight:400;}
						padding:{top:20px;bottom:20px;left:5px;}
						@include gridle_state(notebook-min) {
							padding:{top:15px;bottom:15px;}
						}
						@include gridle_state(phoness) {
							padding: {top:13px;bottom:13px;left: 15px;}
						}
						color:$second_color;
					}
					&.fa {
						&:before {
							padding: {top:20px;right:0px; bottom:20px; left:24px;}
							display: inline-block;
							@include gridle_state(notebook-min) {
								  padding:{top:15px;bottom:15px;left: 10px;}
							}
							@include gridle_state(tabless-md) {
								  padding:{left: 18px !important;}
							}
							@include gridle_state(tabless-min) {
								 padding:{left: 3px;}
							}
							@include gridle_state(phoness) {
								  padding:{top:13px;bottom:13px;left: 15px;}
							}
						}
					}	
					&:hover {
						background:{position: -99.99% 0;}
						color:$first_color;
						@include gridle_state(notebook-min) {
							background:{position: -99.99% 0;}
						}
						a {
							color:$first_color;
						}
						&.fa{
							color:$first_color;
						}
					}
					&.current-menu-item {
						background: $second_color;
						color:$first_color;
						a {
							color:$first_color;
						}
					}
					
					&:first-child {
						@include gridle_float(none);
						padding:{top:20px !important; right:20px; bottom:0 !important; left:20px;}
						margin:{bottom:-4px;}
						background:{position: -0% 0;size: 200.22% auto;}
						@include background-image (linear-gradient(to right, #fff 50%, #000 50%));
						@include transition(background-position 0.3s ease-out);
						a {  
							@include gridle_float(left);
							width: auto;
							@extend .highlight-inv;
							color:$first_color;
							font:{size: 18px !important;}
							padding:{top:3px; right:5px; bottom:5px; left:5px;}
							margin:{top:8px;left: 11px;}
							@include gridle_state(desktopess) {
								margin:{top:15px;}
							}
							@include gridle_state(notebook-min) {
								margin:{top: 10px;}
							}
							@include gridle_state(phoness) {
								margin:{top: 10px;}
							}
						}
						&.fa {
							color:$first_color;
							font:{size: 18px !important;}
							padding:0 !important;			
							&:before {
								@include gridle_float(left);
								background:none;
								@include gridle_state(notebook-min) {
									  padding:{top:15px;bottom:15px;left: 10px;}
								}
								@include gridle_state(tabless-md) {
									  padding:{left: 18px !important;}
								}
								@include gridle_state(tabless-min) {
									 padding:{left: 3px;}
								}
								@include gridle_state(phoness) {
									  padding:{top:13px;bottom:13px;left: 15px;}
								}
							}
						}
						&:hover{
						 	background: {position: -99.99% 0;}
							a {
								color:$first_color;
								background: {color:$second_color;}
							} 
							&.fa{
								color:$second_color;
							}
							.trama{
								svg{
									pattern{
										polygon{
											@include animation(tramaFadea 0.4s ease forwards);
										}
									}
								}
							}
						}		
					}
				}
			}
		}	
	}
	.mCustomScrollBox {
		.mCSB_scrollTools {
			  right: -7px !important;
			  left:inherit !important;
		}
	}
}	
