.nav {
	@include gridle(12);
	@extend .no-paddings;
	background: $first_color;
	color:$second_color;
	font:{family:$primary_font;}
	.menu {
		ul{
			li {
				list-style: none;
				a {
					color:$second_color;
				}
			}
		}
	}
}
.nav-mobile {
	@include gridle(12);
	display: block;
	background: $first_color;
	color:$second_color;
	height: 40px;
	cursor:pointer;
	@extend .no-paddings;
	@include gridle_state(notebook-min desktopess) {
		display: none;
	}
	@include gridle_state(tabless-min) {
		display: block;
		height: 55px;
	}
	@include gridle_state(phoness-min) {
		display: block;
		height: 40px;
	}
 	.logo-mobile {
		@include gridle(2,tabless-min);
		@include gridle_state(tabless-min) {
			  padding: 7px 10px;
		}
		@include gridle(4,phoness);
		@include gridle(3,tabless-md);
		@include gridle(2,tabless);
		@include gridle(6,phoness-min);
		@include gridle_state(phoness-min) {
			padding:0 10px;
		}
		a {
			@include gridle(12);
			color:$second_color;
			padding:{left:0;right:20px;}
			svg {
				width: 100%;
				height: auto;
				min-height: 40px;
			}
		}
	}
	.menu-mobile {
		@include gridle(1,tabless-md);
		@include gridle(1,tabless-min);
		@include gridle(2,phoness);
		@include gridle_float(right);
		text:{align:center;} 
		padding:{top:5px;}
		@include gridle_state(tabless-md) {
			text:{align: right;}
		}
		@include gridle_state(tabless-min) {
			padding:{right: 10px;}
		}
		#icon-mobile {
			position: relative;
			#fa-nav {
				position: absolute;
				top:0;
				right: 0;
				#uno {
				}
				#dos {

				}
				#tres  {
				}	
			}
		}
	}
}