.sitio-single {
	@include gridle(10, desktopess notebook-min);
	@include gridle(12, tabless-md tabless-min phoness);
	@include gridle_float(right);
	height: auto;
	padding:{bottom:10px;}
	@include gridle_state(tabless-min) {
		padding: 0;
	}
	@include gridle_state(phoness) {
		padding: 0;
	}
	.page-sitio {
		@include gridle(12, desktopess notebook-min);
		@include gridle(12, phoness tabless-min);
		@include gridle_float(right);
		@extend .no-paddings;
		.art-single {
			@include gridle(12);
			@extend .no-paddings;
			.content-sitio {
				margin:{top: 48px;}
				@include gridle(12);
				@include gridle_state(desktopess notebook-min) {
					padding:0;
				}
				@include gridle_state(notebook-min) {
					margin:{bottom:10px;}
				}
				@include gridle_state(tabless-md) {
					  padding:0; 
					  margin:{bottom:10px;top:35px;}
				}
				@include gridle_state(phoness) {
					padding:0 !important;
					margin:{top:25px;bottom:10px;}  
				}
				@include gridle_state(phoness-min) {
					margin:{top:16px;bottom:10px;} 
					padding:0; 
				}
				.btn {
					@include gridle_hide(desktopess notebook-min);
					@include gridle_state(notebook-min) {
						margin:{top: 5px;}
					}
					@include gridle_state(tabless-md) {
						margin:{top: 5px;bottom:10px;}
					}
					@include gridle_state(phoness) { 
						display:block !important;
						margin:{top: 14px;}
					}
				}
				.metrics {
					@include gridle(12);
					padding: 0 5px;
					h3 {
						font:{family:$primary_font;style:italic;weight:400;size:14px;}
						text:{transform: uppercase;}
						display: table;
						padding: 3px 8px !important;
						&:hover {
							font:{weight:600;}
						}
					}
					.metrica-number {
						@include gridle(6, desktopess notebook-min);
						@include gridle(12, phoness phoness-min);
						@include gridle_float(left,desktopess notebook-min);
						padding:0 5px;
						@include gridle_state(tabless-md) {
							padding:0 5px !important;
						}
						.content-metricanumber {
							@extend .shadow;
							@include gridle(12);
							background:$second_color;
							padding:{top:0;left: 10px;bottom:15px;right:10px;}
							margin:{bottom:10px;}
							@include gridle_state(tabless-md) {
								padding:{right: 15px;}
								margin:{top:0 !important; }
							}
							@include gridle_state(phoness phoness-min) {
								padding: 0!important;
								margin:{top:10px; bottom:10px}
							}
							ul {
								@include gridle_state(phoness phoness-min) {
									padding: 0 10px !important;
								}
								&:last-child {
									li {
										&:last-child {
											  border:{bottom: 0;}
										}
									}
								}
								.content-metricsnumbers {
									@include gridle(11); 
									margin: 0 auto;
									float: none;
									display: block;
									padding:{top:15px;left:0;bottom:20px;right:0;}
								}
							}			
						}
					}
					.metrica-mapa {
						@include gridle(6, desktopess notebook-min);
						@include gridle(12, phoness phoness-min);
						@include gridle_float(right,desktopess notebook-min);
						padding: 0 5px;
						@include gridle_state(tabless-md) {
							padding:0 5px !important;
						}
						.map-content {
							@extend .shadow;
							@include gridle(12);
							background: $second_color;
							padding:{bottom: 25px;}
							@include gridle_state(desktopess) {
								padding:{bottom:0;}
							}
							@include gridle_state(tabless-md) {
								padding: 0 10px;
							}
							@include gridle_state(phoness) {
								padding:0 10px !important;
							}  
							.img-map {
								@include gridle(8);
								@include gridle(10, notebook-min);
								@include gridle_float(none);
								margin:{top:30px;right:auto; bottom:20px;left:auto;}
								display: block;
								@include gridle_state(notebook-min) {
									margin:{top:45px;bottom:45px;}
								}
							}
						}
					}
					.btn-display {
						@include gridle(6, desktopess notebook-min);
						@include gridle(12, tabless-md);
						@include gridle(6, tabless-min);
						@include gridle_float(right, desktopess notebook-min);
						padding: 0 5px;
						@include gridle_state(desktopess notebook-min) {
							margin:{top:0; right:auto;bottom:10px;left:auto;}
							display: block;
						}
						@include gridle_hide(phoness);
						.content-display {
							@extend .shadow;
							@include gridle(12);
							background: $second_color; 
							padding:{top:20px;left:10px;bottom:10px;left:10px;}
							@include gridle_state(desktopess notebook-min) {
								padding:{top:0;}
							}
							@include gridle_state(notebook-min) {
								padding:{left:10px;}
							}
							.btn {
								@include gridle(6, desktopess notebook-min);
								display: block !important;
								margin:0 auto;
								height: 40px;
								float: none;
							}	
						}
					}
					.section-MarketPlace {
						@extend .btn-display;
						@include gridle_show(phoness);
						@include gridle(12, tabless-md);
						@include gridle(6, tabless);
						@include gridle_state(tabless-min notebook-min desktopess) {
							padding: 0 5px;
						}
						.content-marketplace {
							@include gridle(12);
							float: none;
							.woocommerce {
								.products {
									text:{align:center;}
									li {
										@include gridle(2.8);
           								border:{style:solid;width:1px;color:$colorGrey;}
           								margin:{top:0;right:11px;bottom:20px;left:0;}
           								@include gridle(3.7, desktopess);
           								@include gridle(3.5, notebook-min);
           								@include gridle_state(notebook-min) {
           									padding: 0;
           								}
           								@include gridle(2.7, tabless-md);
           								@include gridle(3.6, tabless-min);
           								@include gridle(11, phoness-min);
           								@include gridle_state(phoness-min) {
           									margin: {left:auto;right:auto;}
           								}
           								float: none;
           								text:{align:left;}
           								h3 {
           									@include gridle(12);
											padding:5px !important;
											font:{size:em(15px) !important;weight:700;style:normal;}
											padding: 2px 10px !important;
											color:$colorGrey;
											text:{transform:uppercase;}
											overflow: hidden;
											text-overflow: ellipsis;
											white-space: nowrap;
											@include gridle_state(notebook-min) {
	           									font:{size:em(13px) !important;}
	           								}
	           								@include gridle_state(phoness) {
	           									font:{size:em(16px) !important;}
	           								}
           								}
           								small {
           									@extend h3;
           									@include gridle(12);
           									font:{size:em(13px);weight:400;}
											color:$colorGrey !important;
											overflow: hidden;
											text-overflow: ellipsis;
											white-space: nowrap;
											a {
												color:$colorGrey !important;
											}
           								}
           								.button {
           									@include gridle(10);
											background:$colorBlack;
											border-radius: 0;
    										color:$second_color;
    										font:{size:em(13px) !important;weight:700;}
    										padding: 10px;
    										margin: 10px;
    										display: block;
    										text:{align: center;}
    										@include gridle(11, phoness);
           								}
           								img {
           									width: auto;
											height: 150px;
											margin: auto;
           								}
									}
								}
							}
						}
					}
					.data-picker-display {
						@include gridle(6, desktopess notebook-min tabless-md);
						@include gridle(12, phoness);
						@include gridle_float(left,desktopess notebook-min);
						padding: 0 5px;
						margin:{bottom:10px;}
						@include gridle_state(desktopess notebook-min) {
							display: block;
						}
						@include gridle_state(tabless-md) {
							padding: 0 5px !important;
						}
						@include gridle_state(phoness phoness-min) {
							display: block;
							padding:{left: 0;}
						}
						.content-dpicker-display {
							@extend .shadow;
							@include gridle(12);
							background: $second_color; 
							padding:{top:20px;left:10px;bottom:10px;left:10px;}
							@include gridle_state(desktopess notebook-min) {
								padding:{top:0;}
							}
							@include gridle_state(tabless-md) {
								padding: 6px !important;
							}
							@include gridle_state(notebook-min) {
								padding:{left:10px;}
							}
							.dp-cont {
								@include gridle(12);
								@extend .no-paddings;
								.dp-calendar {
									@include gridle(6);
									@include gridle(12, phoness-min);
									width: 50% !important;
									border:{radius:0 !important;}
									height: 40px !important;
									@include gridle_state(tabless-min) {
										height: 38px !important;
									}
									@include gridle_state(phoness-min) {
										width: 100% !important;
									}
									a {
										background: none !important;
										line-height: 30px !important;
										@include gridle_state(tabless-min) {
											font:{size:em(10px);}
										}
									}
									span {
										line-height: 40px !important;
										font:{size:14px;}
									}
								}
								.dp-desplegable {
									z-index: 99;
									@include gridle_state(phoness-min) {
										width: 100% !important;
										overflow: scroll !important;
										padding:{top:10px; right:0; bottom:0;left: 10px;}
									}
								}
								.dp-botonera {
									@include gridle(6);
									@include gridle(12, phoness-min);
									@include gridle_state(phoness-min) {
										margin:{top:10px;bottom:5px;}
									}
									.dp-btn {
										@include gridle(5.5, notebook-min desktopess);
										@include gridle(6, tabless-min);
										@include gridle(5.5, tabless-md);
										@include gridle(6, phoness-min);
										height: 26px;
										display: table;
										@include gridle_state(tabless-md tabless) {
											padding: 0;
											margin:{right:10px;}
										}
										@include gridle_state(phoness-min) {
											margin:0;
										}
										&:first-child {
											padding:{right:0 !important;}
										}
										.btn-datapicker {
											@include gridle(12);
											@extend .text-center;
											background:{color:$first_color;}
											color:$second_color;
											font:{family:$primary_font;size:14px;}
											text:{transform:uppercase;}
											padding: 10px 0;
											@include gridle_state(tabless-min) {
												padding: 8px 0;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}