.wrapper {
	.page-categoria {
		@include gridle(10,desktopess notebook-min);
		@include gridle(12,phoness tabless-min);
		@include gridle_float(right);
		@include gridle_state(phoness tabless-min) {
			padding:0;
		}
		.content-loop-categoria {
			@include gridle(3, desktopess notebook-min);
			@include gridle(4, tabless-md tabless-min);
			@include gridle(12, phoness-min);
			@extend .no-paddings;
			@include gridle_state(desktopess notebook-min tabless-min) {
				padding:{right:5px !important;}
			}
			.sitio-single {
				@include gridle(12);
				padding:{top: 0;right: 5px; bottom:0; left:0;}
				height: auto;
				@include gridle_state(tabless-min) {
					padding:{left: 6px !important;}
				}
				.content-single {
					@include gridle(12,phoness-min);
					@extend .no-paddings;
					@extend .shadow;
					background-color: $second_color;
					height: auto;
					border:1px solid $li-border-color;
					margin:5px 0;
					position: relative;
					.header-destacado {
						display: none; 
					}
					.pattern {
						background-position: -0% 0;
						@include background-image (linear-gradient(to right, #fff 50%, #000 50%));
						background-size: 200.22% auto;
						@include transition(background-position 0.5s ease-out);
						.highlight-inv {
							font:{size:18px;}
							display: table;
							@include gridle_state(notebook-min) {
								font:{size: 15px;}
							}
							@include gridle_state(tabless-md) {
								font:{size:14px;}
							}
						}
						@extend .trama;
					}
					.img-single {
						@include gridle(12);
						@extend .no-paddings;
						img {
							width: 100%;
							height: auto;
						}
						.title {
							margin:{top:-31px;}
							h2 {
								color:$second_color;
								font:{size:20px;}
								padding:{top:3px;left:10px;right:5px;}
								text:{transform:uppercase;}
								background-position: -0% 0;
								@include background-image (linear-gradient(to right, #000 50%, #fff 50%));
								background-size: 200.22% auto;
								@include transition(background-position 0.5s ease-out);
								font:{style:italic;weight:400;}
								width: auto;
								position: absolute;
								margin:{top: -26px !important;bottom:0;}
							}
						}
					}
					.sitio-social {
						@include gridle(12);
						@extend .no-paddings;
						ul {
							@include gridle(12);
							@extend .no-paddings;
							@extend .no-margins;
							background:$second_color;  
							color:$font-color;
							li {
								@include gridle(4);
								padding: 10px 0;
								text:{align:center;}
								.number {
									font:{size:15px !important ;weight:800;font-family:$primary_font;}
								}
								.bajada-num {
									font:{size:12px !important ;weight:800;style:italic; font-family:$primary_font;}
									text-transform: uppercase;
									padding: {top:5px !important;}
								}
							}
						}
					}
				}
				&:hover {
					.title {
						h2 {
							@include transition(background-position 0.5s ease-out);
							background-position: 99.99% 0 !important;
							color:$first_color !important;
							
						}
					}
					.content-single{
						a{
							.pattern{
								@include transition(background-position 0.5s ease-out);
								background-position: 99.99% 0 !important;
								.trama{
									svg{
										pattern {
											polygon {
												@include animation(tramaFadea 0.4s ease forwards);
											}
										}
									}
								}
							}
						}
					}
				}
			}
			&.category-destacado{
				.header-destacado {
					position: absolute;
					display: block !important;
					@include gridle(12);
					background: $first_color;
					color:$second_color;
					padding: 10px;
					text:{transform: uppercase;}
					a {
						color:$second_color;
						font:{family:$primary_font;weight:300;style:italic; size:14px;}
						@include gridle_state(tabless-md) {
							padding:{left: 10px;}
						}
					}
				}
			}
		}
	}	
}
  
.nothing-message {
	@include gridle(12);
	background:$second_color;
	position: relative;
	display: block;
	h2 {
		@extend .text-center;
		@extend .no-margins;
		@include gridle(12);
		padding:{top:40px;bottom:10px;}
		visibility: hidden;
		@include gridle_state(phoness-min) {
			font:{size:18px;}
			padding:{top:20px;}
		}
	}
	p {
		@extend .text-center;
		font:{size:20px;weight:800;style:italic;}
		padding:{bottom:20px;}
		@include gridle(12);
		@extend .no-margins;
		visibility: hidden;
		@include gridle_state(phoness-min) {
			font:{size:14px;}
			padding:{bottom:0;}
		}
	}
	.logotipe-message {
		@include gridle(4);
		@include gridle(8, phoness-min); 
		@include gridle_float(none);
		margin:0 auto;
		display: block;
		visibility: hidden;
		svg {
			@include gridle(12);
			padding:{bottom:80px;} 
			@include gridle_state(phoness-min) {
				padding:{bottom:10px;} 
			}
			path  {
				fill: #000 !important;
			}
		}
	}
}
