.search-content {
	@include gridle(12, phoness-min phoness tabless-md tabless-min tabless); 
	@include gridle(10, notebook-min desktopess);
	@include gridle_float(right, notebook-min desktopess);
	@include gridle(12, phoness-min tabless-min);
	@include gridle_state(phoness-min) {
		padding:0 5px;
	}
	@include gridle_state(tabless-md tabless-min tabless) {
		padding:0 10px;
	} 
	.content-title {
		margin:{top:20px;}
		@include gridle_state(tabless-md phoness) {
			margin:{top:70px;}
		}
		@include gridle_state(phoness-min) {
			margin:{top:50px;}
		}
		h2 {
			@extend .no-margins;
		}
		p {
			@extend .highlight;
			margin:{top:10px;bottom:0;}
			display: table;
			width: auto;
			text:{transform:capitalize}
			@include gridle_state(tabless-md phoness) {
				font:{size: 22px;}
			}
		}
	}  
	.search-cont {
		@include gridle(12);
		@extend .no-paddings;
		.search-loop {
			@include gridle(12);
			@extend .shadow;
			margin:{top:20px;}
			border:{bottom:1px solid $li-border-color;}
			background: $second_color;
			padding:20px 10px;
			.img-search {
				@include gridle(2, desktopess); 
				@include gridle(3, notebook-min); 
				@include gridle(3, tabless-md phoness); 
				@include gridle(12, phoness-min);
				@extend .no-paddings;
				display: table;
				height: 85px;
				.img-content-search {
					display: table-cell;
					vertical-align: middle;
					img {
						height: auto;
						@include gridle(8);
						@include gridle_float(none);
						/*@include gridle(12, desktopess notebook-min); 
						@include gridle(6, tabless-md tabless-min);
						@include gridle(5, phoness-min); */
						margin: 0 auto;
						display: block;
						@include gridle_state(phoness) {
							padding:0;
						}
						@include gridle_state(phoness-min) {
							padding:{left:0;}
							margin:{top:0;}
						}
					}
				}
			}
			.title-resultado {
				@include gridle(3, desktopess notebook phoness);
				@include gridle(12, phoness-min);
				display: block;
				font:{size:12px;family:$primary_font;}
				margin:10px 0; 
				@include gridle_state(phoness-min phoness) {
					padding:{left:0;}
					margin:{top:0; bottom: 5px;}
				}
				.resultado-1 {
					font:{weight:600;}
					@include gridle_state(desktopess notebook-min) {
						font:{size: 17px;}
						margin:{bottom: 3px;}
					}
					@include gridle_state(phoness-min) {
						font:{size: 14px;}
						margin:0;
					}
				}
				.content-pattern {
					@extend .pattern;
					height: 40px;
					padding:{top:5px; right:5px; bottom:5px; left:3px;}
					.highlight-inv {
						font:{size:18px;}
						display: table;
						@include gridle_state(notebook-min) {
							font:{size: 15px;}
						}
						@include gridle_state(tabless-md) {
							font:{size:14px;}
						}
					}
					&.resultado-2 {
						@include gridle(11,tabless-min);
						@include gridle_state(tabless-min) {
							 padding:{left: 5px;}
						}
						@include gridle(12, phoness);
						.highlight-inv {
							margin:{top: 1px;}
							padding:{left:3px !important;right:5px !important;}
							font:{size:12px !important;weight:600 !important;}
							@include gridle_state(desktopess notebook-min) {
								font:{size: 20px !important;}
							}
							@include gridle_state(phoness-min) {
								font:{size: 16px !important;}
							}
							a {
								color:$first_color;
							}
						}
					}
				}
				&:hover {
					.pattern{
						@include transition(background-position 0.5s ease-out);
						background-position: 99.99% 0 !important;
						.trama{
							svg{
								pattern {
									polygon {
										@include animation(tramaFadea 0.4s ease forwards);
									}
								}
							}
						}
					}
				}
			}
		}
	}
}