/* COLOR */
$first_color: black;			/* BLACK*/
$first_color_1: #454545;		/* 2 BLACK*/
$first_color_2:#2c2a29;			/* 3 BLACK*/
$second_color: #ffffff;			/* WHITE*/
$second_color_1: #c4c4c4;		/* 2 WHITE*/

$primary_font:'Open Sans', sans-serif;
