@import url('http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300');
// Import grid settings :
@import '../../bower_components/gridle/sass/grid-settings';
@import '../../bower_components/bourbon/app/assets/stylesheets/bourbon';

// Generate classes :
@include gridle_generate_classes();

@import 'partial/vars';
@import 'partial/main';

@import 'partial/header';
@import 'partial/wrap';
@import 'partial/aside';
@import 'partial/footer';
@import 'partial/nav-top';

@import 'partial/loop-destacados';
@import 'partial/loop-principal';

@import 'partial/single';
@import 'partial/search';
@import 'partial/paginador';
@import 'partial/sidebar';
@import 'partial/about-us';
@import 'partial/error';
@import 'partial/queries';
