@import url('http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800');

@import '../../bower_components/gridle/sass/grid-settings';
@import '../../bower_components/bourbon/app/assets/stylesheets/bourbon';


// Generate classes :
@include gridle_generate_classes();

@import 'partial/vars';
@import 'partial/parallax';
@import 'partial/general';   
@import 'partial/header'; 
@import 'partial/nav'; 
@import 'partial/page-categoria';   
@import 'partial/page-sitio';   
@import 'partial/about-us';   
@import 'partial/nav-colapse';   
@import 'partial/search';   
@import 'partial/page-contacto';   
@import 'partial/paginacion';    
@import 'partial/footer';   
@import 'partial/queries';   


$width-column:16.66667%;
.wrapper{
	@include gridle(10, desktopess notebook-min);
	@include gridle(12, phoness phoness-min tabless-min tabless-min);
	@include gridle_push(2, desktopess notebook-min);
	@include gridle_push(0, phoness phoness-min tabless-min tabless);
	@include gridle_state(phoness-min phoness tabless-min tabless){
		overflow: hidden;
		.nav-colapse{
			position: absolute;
			left: inherit !important;
		}
	}
	@include gridle_state(desktopess notebook-min){
		overflow: scroll;
		.nav-colapse{
			position: fixed;
			left:0;
		}
	}
	.page-header{
		@include gridle(12, desktopess notebook-min);
	}
	.page-categoria{
		@extend .page-header;
		padding:0 10px !important;
	}
	.page-sitio{
		@extend .page-header;
	}
	.page-contacto{
		@extend .page-header;
		padding:0 10px !important;
	}
}